body {
  background: url(~assets/img/login/login_background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
input {
  outline: none;
}
.login-div {
  width: 100%;
  height: 250px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-input {
  padding: 10%;
  text-align: center;
}
.login-input label {
  color: #fffff0;
  font-size: 15px;
  
}
.login-input input {
  width: 100px;
  padding: 1%;
}
.login-btn {
  text-align: center;
}
/* .login-input label {
  color: #fff;
  width: 215px;
  display: inline-block;
  text-align: right;
}
.login-input input {
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 6px;
}
.login-input input:focus {
  border: 2px solid #87ceff;
}
.login-input {
  padding: 5%;
}
.login-btn button {
  color: #666;
  padding: 10px;
  width: 100px;
  border: 0.5px solid #87ceff;
  border-radius: 10px;
  background-color: #e6e6fa;
} */